<nav class="navbar navbar-default navbar-fixed-top no-print">
  <ul class="operations">
    <li>
      <a href="javascript:window.print()">Print</a>
    </li>
    <li>
      <a href="/admin" target="_blank">Admin</a>
    </li>
  </ul>
  <ul class="data">
    <li>
      <a href="/view/product-moves">Product moves</a>
    </li>
    <li>
      <a href="/view/stocks">Stocks</a>
    </li>
    <li>
      <a href="/view/sales">Sales</a>
    </li>
    <li>
      <a href="/view/invoices">Invoices</a>
    </li>
    <li>
      <a href="/view/packing-lists">Packing lists</a>
    </li>
    <li>
      <a href="/view/stores">Stores</a>
    </li>
    <li>
      <a href="/view/packing-lists">Customers</a>
    </li>
  </ul>
</nav>
