
{% load static %}

<html>
  <head>
    <title>Fashion storage</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href={% static 'lib/bootstrap/css/bootstrap.min.css' %} rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'all.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'screen.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" media="print" />
  </head>
  <body>

    {% include 'partials/_menu.html' %}

    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>

    <script src={% static 'lib/bootstrap/js/bootstrap.min.js' %}></script>
    <script src={% static 'lib/jquery-3.1.1.min.js' %}></script>
  </body>
</html>
