<html moznomarginboxes mozdisallowselectionprint>
  <head>
    {% load static %}
    <title>Fashion storage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'general.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" media="print" />
  </head>
  <body>

    <section class="operation invisible">
      <a href="javascript:window.print()">Print</a>
    </section>

    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <section class=".footer print">
      <footer>
        <div class="col">
          VIVALELISA CONTACT DATA
        </div>
        <div class="col">
          VIVALELISA OPENING HOURS
        </div>
        <div class="col">
          VIVALELISA BANK DATA
        </div>
        <div class="col">
          VIVALELISA TAX DATA
        </div>
      <footer>
    </section>
  </body>
</html>
