
.no-print,
th.edit,
td.edit {
  display: none;
}

.print {
  display: block;
}

.footer {
  position: fixed;
  bottom: 0;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
}

footer .col {
  padding: 20px;
}
