
.print {
  display: none;
}


/* TYPO ***********************************************************************/

body {
  font-family: Verdana, Arial;
}

a, a:hover {
  color: #000 !important;
}

nav, nav a, nav a:hover {
  color: #FFF !important;
}

/* NAVIGATION *****************************************************************/

body {
  margin-top: 100px;
}

nav {
  background-color: #000 !important;
}

nav ul, li {
  list-style: none;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 14px;
}

nav li {
  margin-right: 10px;
}

nav .operations {
  float: right;
}

nav .data {
  float: left;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
}

/* FOOTER *********************************************************************/

footer .col {
  padding: 20px;
}
